.header{
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
}

.footer {
    background-color: #282c34;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.card {
  padding: 20px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 12px #aaa;
  text-align: center;
}
